/*******************************************************************************
 * Blog post and listing styles
 ******************************************************************************/

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.tag-category-list {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;

  ul {
    justify-content: center;
    display: flow-root;

    p,
    li {
      list-style: none;
      display: inline-block;
      padding: 1rem 0.5rem;
      color: var(--global-text-color-light);
    }
  }
}

.post-title {
  mjx-container[jax="CHTML"][display="true"] {
    display: unset;
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }

    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0;
    }

    a {
      color: var(--global-text-color);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }

    mjx-container[jax="CHTML"][display="true"] {
      display: unset;
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      padding: 0.75rem 1.15rem;

      &:hover {
        color: #000;
      }
    }

    &.active .page-link {
      color: #fff;
      background-color: var(--global-theme-color);

      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}

.post {
  .post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .post-tags {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;

    a {
      color: var(--global-text-color-light);
      text-decoration: none;

      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.featured-posts {
  a {
    color: var(--global-text-color-light);
    text-decoration: none;

    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      color: var(--global-theme-color);

      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

// distill
/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

d-byline {
  border-top-color: var(--global-divider-color) !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a,
d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  border-top-color: var(--global-divider-color) !important;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  table {
    color: var(--global-text-color) !important;
  }
  h1,
  h2,
  hr,
  table,
  table th,
  table td {
    border-bottom-color: var(--global-divider-color) !important;
  }
  a {
    color: var(--global-theme-color) !important;
    &:hover {
      color: var(--global-theme-color) !important;
    }
  }
  b i {
    display: inline;
  }
  blockquote {
    border-left: 2px solid var(--global-theme-color) !important;
  }

  // Style taken from code blocks
  details {
    color: var(--global-text-color);
    background-color: var(--global-code-bg-color);
    margin-top: 0;
    padding: 8px 12px;
    position: relative;
    border-radius: 6px;
    display: block;
    margin-bottom: 20px;
    grid-column: text;
    overflow: auto;
    max-width: 100%;
    summary {
      color: var(--global-theme-color);
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  d-contents {
    align-self: start;
    grid-column: 1 / 4;
    grid-row: auto / span 4;
    justify-self: end;
    margin-top: 0em;
    padding-left: 2em;
    padding-right: 3em;
    border-right: 1px solid var(--global-divider-color);
    width: calc(max(70%, 300px));
    margin-right: 0px;
    margin-top: 0em;
    display: grid;
    grid-template-columns:
      minmax(8px, 1fr) [toc] auto
      minmax(8px, 1fr) [toc-line] 1px
      minmax(32px, 2fr);

    nav {
      grid-column: toc;
      a {
        border-bottom: none !important;
        &:hover {
          border-bottom: 1px solid var(--global-text-color) !important;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }
      div {
        display: block;
        outline: none;
        margin-bottom: 0.8em;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
      }
      ul {
        padding-left: 1em;
        margin-top: 0;
        margin-bottom: 6px;
        list-style-type: none;
        li {
          margin-bottom: 0.25em;
        }
      }
    }
    .figcaption {
      line-height: 1.4em;
    }
    toc-line {
      border-right: 1px solid var(--global-divider-color);
      grid-column: toc-line;
    }
  }

  d-footnote {
    scroll-margin-top: 66px;
    color: var(--global-theme-color) !important; /* Footnote text color */
    &:hover {
      color: var(--global-hover-color) !important; /* Footnote hover color */
    }
  }

  /* Citations */
  d-cite a,
  a.citation {
    /* Target citations within d-cite and also general .citation links */
    color: var(--global-theme-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

d-appendix {
  border-top-color: var(--global-divider-color) !important;
  color: var(--global-distill-app-color) !important;
  h3,
  li,
  span {
    color: var(--global-distill-app-color) !important;
  }
  a,
  a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

@media (max-width: 1024px) {
  d-article {
    d-contents {
      display: block;
      grid-column-start: 2;
      grid-column-end: -2;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      padding-top: 0.5em;
      width: 100%;
      border: 1px solid var(--global-divider-color);
      nav {
        grid-column: none;
      }
    }
  }
}
